<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>J2C</title>

    {% load staticfiles %}

    <link rel="icon" href="{% static "img/logo.png" %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static "css/freelancer.min.css" %}" rel="stylesheet">

    <!-- My CSS -->
    <link href="{% static "css/mycss.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    {% load staticfiles %}

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="https://j2c.herokuapp.com/">JSON to CSV</a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <br><br>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Error!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2" align="center">
                <p>
                    Incorrect JSON format or file.<br><br>
                    Make sure you upload a file with a json extension.<br>
                    and follow the correct JSON format.<br><br>
                    <button type="button" class="btn btn-lg btn-success" href="#modalID" data-toggle="modal"> <i class="fa fa-file-text"></i> Sample</button>
                </p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center" id="footerID">
        <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-md-4">
                            <h3>Format</h3>
                            <p>
                                A single key-value JSON object<br>
                                A list of key-value JSON objects
                            </p>
                        </div>
                        <div class="footer-col col-md-4">
                                <h3>Corner Cases</h3>
                                <p>
                                    A missing value is filled with "na"
                                </p>
                            </div>
                        <div class="footer-col col-md-4">
                            <h3>Exceptions</h3>
                            <p>
                                JSON input not in required format
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!--<a href="https://github.com/ahmedhamdi96">Github</a>-->
                        <a href="https://github.com/ahmedhamdi96" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="portfolio-modal modal fade" id="modalID" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Sample</h2>
                                <hr class="star-primary">
                                <textarea class="form-control" id="csv" readonly style="white-space: pre;">
[
    {
        "key1" : "value",
        "key2" : "value",
        "key3" : 1
    },
    {
        "key1" : "value",
        "key3" : 2,
        "key4" : "value"
    },
    {
        "key2" : "value",
        "key3" : 3,
        "key5" : "value"
    }
]</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <script src="{% static "js/contact_me.js" %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "js/freelancer.min.js" %}"></script>
</body>

</html>
